# Pew Research Center public opinion on science survey from 2014 - questions

In [ ]:
import numpy as np
import pandas as pd

In [30]:
df = pd.read_csv("PRC_2014_sciencesurvey.csv")
df.head(10)
df.columns

,caseid,weight,sample,int_date,lang,cregion,state,usr,density,form,...,party,partyln,ideo,hh1,hh3,eminuse,intmob,ql1,ql1a,qc1
0,100003,3.285714,1,81514,1,3,37,U,3,2,...,3,1,2,9,9,1,1,1,,
1,100004,3.214286,1,81814,1,3,51,U,5,1,...,2,,5,5,2,1,1,1,,
2,100014,1.857143,1,81514,1,1,36,U,5,1,...,1,,2,1,,1,2,1,,
3,100020,3.500000,1,81914,1,1,9,S,4,2,...,9,1,2,3,2,1,1,1,,
4,100022,3.642857,1,81814,1,2,39,S,5,1,...,1,,3,2,2,1,1,1,,
5,100030,2.357143,1,81514,1,3,37,R,2,1,...,1,,2,1,,2,2,1,,
6,100036,3.071429,1,81514,1,3,12,S,4,1,...,3,2,3,2,2,1,1,1,,
7,100037,16.071429,1,81514,1,1,42,S,1,1,...,1,,3,3,1,1,1,1,,
8,100041,1.785714,1,81514,1,3,45,S,1,2,...,3,9,3,3,3,1,2,1,,
9,100048,16.285714,1,81514,1,1,36,S,5,2,...,1,,9,1,,2,2,2,,

Index(['caseid', 'weight', 'sample', 'int_date', 'lang', 'cregion', 'state',
       'usr', 'density', 'form', 'q1', 'q2a', 'q2b', 'q2c', 'q2e', 'q2f',
       'q2gf1', 'q2hf2', 'q3', 'q4', 'q5a', 'q5b', 'q5c', 'q6', 'q7', 'q8',
       'q9f1', 'q9f1_code1', 'q9f1_code2', 'q9f1_code3', 'q12a', 'q12b', 'q13',
       'q16', 'q17', 'q18', 'q20f1', 'q21af2', 'q21bf2', 'q21cf2', 'q23',
       'q24a', 'q24b', 'q24c', 'q24d', 'q24e', 'q24f', 'q25', 'q27', 'q28',
       'q29', 'q30', 'q32', 'q33', 'q34', 'q35', 'q37', 'q38', 'q39', 'q40',
       'q41', 'knosct14', 'knosct15', 'knosct16', 'knosct17', 'knosct18',
       'knosct19', 'knosct_count', 'sexz', 'agerec', 'educ2', 'scideg', 'hisp',
       'racecmb', 'race3m1', 'race3m2', 'race3m3', 'race3m4', 'racethn',
       'birth_hisp', 'usborn', 'marital', 'parent', 'citizen', 'relig', 'chr',
       'born', 'attend', 'income', 'reg', 'party', 'partyln', 'ideo', 'hh1',
       'hh3', 'eminuse', 'intmob', 'ql1', 'ql1a', 'qc1'],
      dtype='object')

In [21]:
#df.dtypes

In [20]:
#df.describe()

In [19]:
#df.info()

In [56]:
# no nan values
df.isnull().sum().sum()

0

# QUESTIONS

In [54]:
# q1 = satisfied, 1 yes, 2 no, 9 don't know
df['q1'].value_counts()

2    1357
1     549
9      96
Name: q1, dtype: int64

In [71]:
# q2a,b,c,e,f,gf1,hf2 = compare US to other countries
# sci achievements, military, economy,stem ed for K-12, political, medical treatment, health care
df['q2gf1'].value_counts()/1001
df['q2hf2'].value_counts()/1001

     1.000000
2    0.349650
3    0.264735
1    0.195804
4    0.176823
9    0.012987
Name: q2gf1, dtype: float64

     1.000000
4    0.357642
3    0.310689
2    0.193806
1    0.105894
9    0.031968
Name: q2hf2, dtype: float64

In [58]:
# q3 = enjoy science

In [59]:
# q4 = has science made life easier

In [72]:
# q5a,b,c = science had + or - impact
# food, healthcare, environment

In [73]:
# q6 = public opinion should play a role

In [77]:
# q7 = science & religion conflict/compatible (1-cf,2-cp)
df['q7'].value_counts()

1    1100
2     830
9      72
Name: q7, dtype: int64

In [79]:
# q8 = does science sometimes conflict with your rel. beliefs
df['q8'].value_counts()

2    1341
1     615
9      46
Name: q8, dtype: int64

In [82]:
# q9f1 = (if q8=1) open response on how

In [83]:
# q12 = do govt investments usually pay off in long run

In [84]:
# q13 = govt or private investment

In [85]:
# q16 = humans evolved; essentially 1=yes, 2=no
df['q16'].value_counts()

1    1326
2     595
9      81
Name: q16, dtype: int64

In [88]:
# q17 = (if q16 = 1) natural/supreme being
df['q17'].value_counts()

1    740
     676
2    491
9     95
Name: q17, dtype: int64

In [89]:
# q18 = do scientists hold to evolution
df['q18'].value_counts()

1    1327
2     550
9     125
Name: q18, dtype: int64

In [92]:
# q20f1 = earth is getting warmer natural/human/not enough evidence
df['q20f1'].value_counts()

     1001
2     520
1     242
3     216
9      23
Name: q20f1, dtype: int64

In [94]:
# q21af2 = is there solid evidence that avg temp has been getting warmer
df['q21af2'].value_counts()

     1001
1     742
2     222
9      24
3      13
Name: q21af2, dtype: int64

In [100]:
# q21bf2 = (if q21af2=1) do you believe earth getting warmer human/natural
df['q21bf2'].value_counts()

     1260
1     494
2     212
9      36
Name: q21bf2, dtype: int64

In [101]:
# q21cf2 = (if q21af2=2) don't know enough or not happening
df['q21cf2'].value_counts()

     1780
2     110
1     102
9      10
Name: q21cf2, dtype: int64

In [103]:
# q23 = do scientist agree that earth is warming because of human
df['q23'].value_counts()

1    1157
2     718
9     127
Name: q23, dtype: int64

In [104]:
# q24a,b,c,d,e,f = favor/oppose
# animals in sci research, nucl. power, fracking, gmo for fuel, offshore drilling, exp. drugs

In [105]:
# q25 = childhood diseases, parents able to decide/required
df['q25'].value_counts()

2    1404
1     564
9      34
Name: q25, dtype: int64

In [106]:
# q27 = artificial organs appropriate/too far
df['q27'].value_counts()

1    1505
2     424
9      73
Name: q27, dtype: int64

In [107]:
# q28 = growing world pop. will/will not be a problem
df['q28'].value_counts()

2    1189
1     765
9      48
Name: q28, dtype: int64

In [108]:
# q29 = space station good investment
df['q29'].value_counts()

1    1345
2     517
9     140
Name: q29, dtype: int64

In [109]:
# q30 = humans more expensive to send to space than robots; is it essential to include humans in space
df['q30'].value_counts()

1    1205
2     731
9      66
Name: q30, dtype: int64

In [110]:
# q32 = scientist agree about the Big Bang
df['q32'].value_counts()

2    1013
1     843
9     107
3      39
Name: q32, dtype: int64

In [111]:
# q33 = changing a baby's characteristics to make baby more intelligent is appropriate/too far
df['q33'].value_counts()

2    1653
1     306
9      43
Name: q33, dtype: int64

In [112]:
# q34 = changing a baby's characteristics to reduce risk of serious diseases is appropriate/too far
df['q34'].value_counts()

2    983
1    928
9     91
Name: q34, dtype: int64

In [113]:
# q35 = safe/unsafe to eat foods grown with pesticides
df['q35'].value_counts()

2    1366
1     574
9      62
Name: q35, dtype: int64

In [114]:
# Scientists can change the genes in some food crops and farm animals to make them grow faster or bigger and be more resistant to bugs, weeds, and disease.

In [115]:
# q37 = how often look to see if food is gmo while shopping

In [116]:
# q38 = safe/unsafe to eat gmo foods

In [117]:
# q39 = scientists have clear understanding of gmo health effects

In [118]:
# q40 = churches/houses of worship should express/keep out views about policy decisions on scientific issues
df['q40'].value_counts()

1    1002
2     910
9      51
3      39
Name: q40, dtype: int64

In [120]:
# q41 = your impression; scientists are liberal/conservative/neither
df['q41'].value_counts()

3    1290
1     488
2     148
9      76
Name: q41, dtype: int64

# KNOWLEDGE

In [121]:
# knosct14 = which is major concern about overuse of antibiotics
df['knosct14'].value_counts()

1    1500
3     292
2     158
8      31
9      21
Name: knosct14, dtype: int64

In [123]:
# knosct15 = T/F; Lasers work by focusing sound waves
df['knosct15'].value_counts()

2    1307
1     503
8     165
9      27
Name: knosct15, dtype: int64

In [126]:
# knosct16 = nanotechnology deals with things that are extremely small/large/hot/cold
df['knosct16'].value_counts()

1    1316
8     239
2     159
4     150
3     108
9      30
Name: knosct16, dtype: int64

In [127]:
# knosct17 = which is example of a chemical reaction (3c)

In [128]:
# knosct18 = main function of red blood cells

In [1]:
# knosct19 = what gas do most scientists believe causes temps in atmosphere to rise
df['knosct19'].value_counts()

NameError: name 'df' is not defined

In [ ]:
# knosct_count = total number of questions answered correctly

# DEMOGRAPHICS

In [130]:
# sexz = 1M,2F
df['sexz'].value_counts()

1    1007
2     991
8       2
9       1
3       1
Name: sexz, dtype: int64

In [131]:
# agerec = age recorded; 90 = 90 or older; 99 = no recorded age

In [135]:
# educ2 = highest level school completed
df['educ2'].value_counts()

3    537
6    425
8    356
4    283
5    199
2     87
1     74
7     32
9      9
Name: educ2, dtype: int64

In [136]:
# scideg = (if educ2=6,7,8) is degree scientific
df['scideg'].value_counts()

     1189
2     509
1     300
3       4
Name: scideg, dtype: int64

In [138]:
# hisp = are you hispanic
df['hisp'].value_counts()

2    1632
1     360
9      10
Name: hisp, dtype: int64

In [149]:
# racecmb = race combined?
# race3m1 = first listed
# race3m2 = second listed
# race3m3 = third listed
# racem4 = fourth listed

In [ ]:
# birth_hisp = (hisp=1 or race=7) born in US/PR/other

In [150]:
# usborn = (hisp=2,9 or race!=7) born in US

In [151]:
# marital

In [152]:
# parent

In [153]:
# citizen = (birth_hisp=3,9 or usborn=2,9) are you a US citizen

In [154]:
# relig
df['relig'].value_counts()

1     746
2     448
12    256
13    165
9      88
10     75
5      54
99     35
11     34
3      23
8      18
6      17
7      14
15     12
4      11
14      6
Name: relig, dtype: int64

In [156]:
# chr = (if relig=11,99) do you think of yourself as a christian
df['chr'].value_counts()

     1933
1      34
2      25
9      10
Name: chr, dtype: int64

In [158]:
# born = (if relig=1-4,13,15 or chr=1) Would you describe yourself as a "born again" or evangelical Christian
df['born'].value_counts()

2    749
1    636
     563
9     49
8      5
Name: born, dtype: int64

In [159]:
# attend = how often attend religious services

In [160]:
# income

In [161]:
# reg = registered to vote

In [163]:
# party
df['party'].value_counts()

3    737
2    666
1    454
4     82
9     56
5      7
Name: party, dtype: int64

In [164]:
# partyln = (if party=3,4,5,9) party lean
df['partyln'].value_counts()

     1120
9     306
2     293
1     283
Name: partyln, dtype: int64

In [167]:
# ideo = political views; very conservative to very liberal
df['ideo'].value_counts()

3    721
2    571
4    371
1    127
5    125
9     87
Name: ideo, dtype: int64

In [168]:
# hh1 = number in household

In [169]:
# hh3 = (if hh1>1) how many are 18 or older

In [170]:
# eminuse = do you use the internet or email

In [171]:
# intmob = do you access internet on a mobile device

In [173]:
df.columns

Index(['caseid', 'weight', 'sample', 'int_date', 'lang', 'cregion', 'state',
       'usr', 'density', 'form', 'q1', 'q2a', 'q2b', 'q2c', 'q2e', 'q2f',
       'q2gf1', 'q2hf2', 'q3', 'q4', 'q5a', 'q5b', 'q5c', 'q6', 'q7', 'q8',
       'q9f1', 'q9f1_code1', 'q9f1_code2', 'q9f1_code3', 'q12a', 'q12b', 'q13',
       'q16', 'q17', 'q18', 'q20f1', 'q21af2', 'q21bf2', 'q21cf2', 'q23',
       'q24a', 'q24b', 'q24c', 'q24d', 'q24e', 'q24f', 'q25', 'q27', 'q28',
       'q29', 'q30', 'q32', 'q33', 'q34', 'q35', 'q37', 'q38', 'q39', 'q40',
       'q41', 'knosct14', 'knosct15', 'knosct16', 'knosct17', 'knosct18',
       'knosct19', 'knosct_count', 'sexz', 'agerec', 'educ2', 'scideg', 'hisp',
       'racecmb', 'race3m1', 'race3m2', 'race3m3', 'race3m4', 'racethn',
       'birth_hisp', 'usborn', 'marital', 'parent', 'citizen', 'relig', 'chr',
       'born', 'attend', 'income', 'reg', 'party', 'partyln', 'ideo', 'hh1',
       'hh3', 'eminuse', 'intmob', 'ql1', 'ql1a', 'qc1'],
      dtype='object')

In [172]:
# ql1 = do you have a working cellphone

In [174]:
# ql1a = (if l1=2,9 and hh1>1) does anyone in household have a cell

In [ ]:
# qc1 = is there a telephone inside your home